
body {
  background-color: #2a2d35 !important;
}


.sobreContainer {
  background-color: #2a2d35; 
  padding: 40px 30px;
  max-width: 1000px;
  margin: 80px auto;
  border-radius: 18px;
  color: #e3e8ee;
  font-family: "Poppins", sans-serif;
  animation: aparecer 0.4s ease-in-out;
}


.tituloSobre {
  font-size: 2.8rem;
  font-weight: 700;
  color: #2e003e; 
  margin-bottom: 25px;
  text-align: center;
  animation: brilho 2s infinite alternate;
}


.subtitulo {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 15px;
  color: #2e003e;
  animation: brilho 2s infinite alternate;
}


.textoSobre {
  font-size: 1.15rem;
  line-height: 1.8;
  color: #d3d8df;
  margin-bottom: 20px;
}


ul {
  margin-left: 20px;
  font-size: 1.15rem;
  line-height: 1.8;
  color: #d9dee7;
}


@keyframes brilho {
  0% {
    text-shadow: 
      0 0 5px #00FF9C, 
      0 0 10px #A6FF00, 
      0 0 20px #A6FF00;
  }
  100% {
    text-shadow: 
      0 0 20px #00FF9C, 
      0 0 40px #A6FF00, 
      0 0 60px #A6FF00;
  }
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .sobreContainer {
    padding: 25px;
    margin: 40px 15px;
  }

  .tituloSobre {
    font-size: 2.2rem;
  }

  .subtitulo {
    font-size: 1.5rem;
  }
}
